doctype html
svg(class=`frame corner` id=`top-left-corner` xmlns=`http://www.w3.org/2000/svg` xmlns:xlink=`http://www.w3.org/1999/xlink` x=`0px` y=`0px` width=`30px` height=`30px` viewBox=`0 0 30 30` enable-background=`new 0 0 30 30` xml:space=`preserve`)
  path(fill=`none` stroke=`#FFFFFF` stroke-width=`1.7008` stroke-linecap=`round` stroke-linejoin=`round` stroke-miterlimit=`10` d=`
  M10.155,7.395c0.405-1.983,2.16-3.476,4.263-3.476c2.404,0,4.353,1.948,4.353,4.353V10v6.094`)
  line(fill=`none` stroke=`#FFFFFF` stroke-width=`1.7008` stroke-linecap=`round` stroke-linejoin=`round` stroke-miterlimit=`10` x1=`10.066` y1=`27.41` x2=`10.066` y2=`12.611`)
  line(fill=`none` stroke=`#FFFFFF` stroke-width=`1.7008` stroke-linecap=`round` stroke-linejoin=`round` stroke-miterlimit=`10` x1=`12.677` y1=`18.705` x2=`24.864` y2=`18.705`)
  path(fill=`none` stroke=`#FFFFFF` stroke-width=`1.7008` stroke-linecap=`round` stroke-linejoin=`round` stroke-miterlimit=`10` d=`
  M16.088,10H9.994H8.265c-2.404,0-4.353,1.949-4.353,4.353c0,2.102,1.488,3.854,3.467,4.263`)
  path(fill=`none` stroke=`#FFFFFF` stroke-width=`1.7008` stroke-linecap=`round` stroke-linejoin=`round` stroke-miterlimit=`10` d=`
  M10.155,7.395c0.405-1.983,2.16-3.476,4.263-3.476c2.404,0,4.353,1.948,4.353,4.353V10v6.094`)
  line(fill=`none` stroke=`#FFFFFF` stroke-width=`1.7008` stroke-linecap=`round` stroke-linejoin=`round` stroke-miterlimit=`10` x1=`18.771` y1=`21.316` x2=`18.771` y2=`30`)
  polyline(fill=`none` stroke=`#FFFFFF` stroke-width=`1.7008` stroke-linecap=`round` stroke-linejoin=`round` stroke-miterlimit=`10` points=`
  10.066,12.611 10.066,27.41 10.066,29.994 `)
  line(fill=`none` stroke=`#FFFFFF` stroke-width=`1.7008` stroke-linecap=`round` stroke-linejoin=`round` stroke-miterlimit=`10` x1=`12.677` y1=`18.705` x2=`24.864` y2=`18.705`)
  path(fill=`none` stroke=`#FFFFFF` stroke-width=`1.7008` stroke-linecap=`round` stroke-linejoin=`round` stroke-miterlimit=`10` d=`
  M16.088,10H9.994H8.265c-2.404,0-4.353,1.949-4.353,4.353c0,2.102,1.488,3.854,3.467,4.263`)
  polyline(fill=`none` stroke=`#FFFFFF` stroke-width=`1.7008` stroke-linecap=`round` stroke-linejoin=`round` stroke-miterlimit=`10` points=`
  21.383,10 27.476,10 30,10 `)
  polyline(fill=`none` stroke=`#FFFFFF` stroke-width=`1.7008` stroke-linecap=`round` stroke-linejoin=`round` stroke-miterlimit=`10` points=`
  30.087,14.353 27.476,14.353 27.476,27.482 21.383,27.482 `)
  polyline(fill=`none` stroke=`#FFFFFF` stroke-width=`1.7008` stroke-linecap=`round` stroke-linejoin=`round` stroke-miterlimit=`10` points=`
  14.418,30 14.418,27.41 16.088,27.41 `)


svg(class=`frame corner` id=`top-right-corner` xmlns=`http://www.w3.org/2000/svg` xmlns:xlink=`http://www.w3.org/1999/xlink` x=`0px` y=`0px` width=`30px` height=`30px` viewBox=`0 0 30 30` enable-background=`new 0 0 30 30` xml:space=`preserve`)
  path(fill=`none` stroke=`#FFFFFF` stroke-width=`1.7008` stroke-linecap=`round` stroke-linejoin=`round` stroke-miterlimit=`10` d=`M19.932,7.395c-0.405-1.983-2.16-3.476-4.263-3.476c-2.404,0-4.353,1.948-4.353,4.353V10v6.094`)
  line(fill=`none` stroke=`#FFFFFF` stroke-width=`1.7008` stroke-linecap=`round` stroke-linejoin=`round` stroke-miterlimit=`10` x1=`20.021` y1=`27.41` x2=`20.021` y2=`12.611`)
  line(fill=`none` stroke=`#FFFFFF` stroke-width=`1.7008` stroke-linecap=`round` stroke-linejoin=`round` stroke-miterlimit=`10` x1=`17.41` y1=`18.705` x2=`5.223` y2=`18.705`)
  path(fill=`none` stroke=`#FFFFFF` stroke-width=`1.7008` stroke-linecap=`round` stroke-linejoin=`round` stroke-miterlimit=`10` d=`
    M13.999,10h6.095h1.729c2.404,0,4.352,1.949,4.352,4.353c0,2.102-1.488,3.854-3.467,4.263`)
  path(fill=`none` stroke=`#FFFFFF` stroke-width=`1.7008` stroke-linecap=`round` stroke-linejoin=`round` stroke-miterlimit=`10` d=`
    M19.932,7.395c-0.405-1.983-2.16-3.476-4.263-3.476c-2.404,0-4.353,1.948-4.353,4.353V10v6.094`)
  line(fill=`none` stroke=`#FFFFFF` stroke-width=`1.7008` stroke-linecap=`round` stroke-linejoin=`round` stroke-miterlimit=`10` x1=`11.315` y1=`21.316` x2=`11.315` y2=`30`)
  polyline(fill=`none` stroke=`#FFFFFF` stroke-width=`1.7008` stroke-linecap=`round` stroke-linejoin=`round` stroke-miterlimit=`10` points=`
    20.021,12.611 20.021,27.41 20.021,29.994 `)
  line(fill=`none` stroke=`#FFFFFF` stroke-width=`1.7008` stroke-linecap=`round` stroke-linejoin=`round` stroke-miterlimit=`10` x1=`17.41` y1=`18.705` x2=`5.223` y2=`18.705`)
  path(fill=`none` stroke=`#FFFFFF` stroke-width=`1.7008` stroke-linecap=`round` stroke-linejoin=`round` stroke-miterlimit=`10` d=`
    M13.999,10h6.095h1.729c2.404,0,4.352,1.949,4.352,4.353c0,2.102-1.488,3.854-3.467,4.263`)
  polyline(fill=`none` stroke=`#FFFFFF` stroke-width=`1.7008` stroke-linecap=`round` stroke-linejoin=`round` stroke-miterlimit=`10` points=`
    8.704,10 2.611,10 0.087,10 `)
  polyline(fill=`none` stroke=`#FFFFFF` stroke-width=`1.7008` stroke-linecap=`round` stroke-linejoin=`round` stroke-miterlimit=`10` points=`
    0,14.353 2.611,14.353 2.611,27.482 8.704,27.482 `)
  polyline(fill=`none` stroke=`#FFFFFF` stroke-width=`1.7008` stroke-linecap=`round` stroke-linejoin=`round` stroke-miterlimit=`10` points=`
    15.668,30 15.668,27.41 13.999,27.41 `)


svg(class=`frame corner` id=`bottom-left-corner` xmlns=`http://www.w3.org/2000/svg` xmlns:xlink=`http://www.w3.org/1999/xlink` x=`0px` y=`0px` width=`30px` height=`30px` viewBox=`0 0 30 30` enable-background=`new 0 0 30 30` xml:space=`preserve`)
  path(fill=`none` stroke=`#FFFFFF` stroke-width=`1.7008` stroke-linecap=`round` stroke-linejoin=`round` stroke-miterlimit=`10` d=`
    M10.155,22.605c0.405,1.982,2.16,3.476,4.263,3.476c2.404,0,4.353-1.948,4.353-4.353V20v-6.094`)
  line(fill=`none` stroke=`#FFFFFF` stroke-width=`1.7008` stroke-linecap=`round` stroke-linejoin=`round` stroke-miterlimit=`10` x1=`10.065` y1=`2.59` x2=`10.065` y2=`17.389`)
  line(fill=`none` stroke=`#FFFFFF` stroke-width=`1.7008` stroke-linecap=`round` stroke-linejoin=`round` stroke-miterlimit=`10` x1=`12.677` y1=`11.295` x2=`24.864` y2=`11.295`)
  path(fill=`none` stroke=`#FFFFFF` stroke-width=`1.7008` stroke-linecap=`round` stroke-linejoin=`round` stroke-miterlimit=`10` d=`
    M16.088,20H9.993H8.265c-2.404,0-4.352-1.949-4.352-4.353c0-2.102,1.488-3.854,3.467-4.263`)
  path(fill=`none` stroke=`#FFFFFF` stroke-width=`1.7008` stroke-linecap=`round` stroke-linejoin=`round` stroke-miterlimit=`10` d=`
    M10.155,22.605c0.405,1.982,2.16,3.476,4.263,3.476c2.404,0,4.353-1.948,4.353-4.353V20v-6.094`)
  line(fill=`none` stroke=`#FFFFFF` stroke-width=`1.7008` stroke-linecap=`round` stroke-linejoin=`round` stroke-miterlimit=`10` x1=`18.771` y1=`8.684` x2=`18.771` y2=`0`)
  polyline(fill=`none` stroke=`#FFFFFF` stroke-width=`1.7008` stroke-linecap=`round` stroke-linejoin=`round` stroke-miterlimit=`10` points=`
    10.065,17.389 10.065,2.59 10.065,0.006 `)
  line(fill=`none` stroke=`#FFFFFF` stroke-width=`1.7008` stroke-linecap=`round` stroke-linejoin=`round` stroke-miterlimit=`10` x1=`12.677` y1=`11.295` x2=`24.864` y2=`11.295`)
  path(fill=`none` stroke=`#FFFFFF` stroke-width=`1.7008` stroke-linecap=`round` stroke-linejoin=`round` stroke-miterlimit=`10` d=`
    M16.088,20H9.993H8.265c-2.404,0-4.352-1.949-4.352-4.353c0-2.102,1.488-3.854,3.467-4.263`)
  polyline(fill=`none` stroke=`#FFFFFF` stroke-width=`1.7008` stroke-linecap=`round` stroke-linejoin=`round` stroke-miterlimit=`10` points=`
    21.383,20 27.476,20 30,20 `)
  polyline(fill=`none` stroke=`#FFFFFF` stroke-width=`1.7008` stroke-linecap=`round` stroke-linejoin=`round` stroke-miterlimit=`10` points=`
    30.087,15.647 27.476,15.647 27.476,2.518 21.383,2.518 `)
  polyline(fill=`none` stroke=`#FFFFFF` stroke-width=`1.7008` stroke-linecap=`round` stroke-linejoin=`round` stroke-miterlimit=`10` points=`
    14.418,0 14.418,2.59 16.088,2.59 `)



svg(class=`frame corner` id=`bottom-right-corner` xmlns=`http://www.w3.org/2000/svg` xmlns:xlink=`http://www.w3.org/1999/xlink` x=`0px` y=`0px` width=`30px` height=`30px` viewBox=`0 0 30 30` enable-background=`new 0 0 30 30` xml:space=`preserve`)
  path(fill=`none` stroke=`#FFFFFF` stroke-width=`1.7008` stroke-linecap=`round` stroke-linejoin=`round` stroke-miterlimit=`10` d=`
    M19.932,22.605c-0.405,1.982-2.16,3.476-4.263,3.476c-2.404,0-4.353-1.948-4.353-4.353V20v-6.094`)
  line(fill=`none` stroke=`#FFFFFF` stroke-width=`1.7008` stroke-linecap=`round` stroke-linejoin=`round` stroke-miterlimit=`10` x1=`20.021` y1=`2.59` x2=`20.021` y2=`17.389`)
  line(fill=`none` stroke=`#FFFFFF` stroke-width=`1.7008` stroke-linecap=`round` stroke-linejoin=`round` stroke-miterlimit=`10` x1=`17.41` y1=`11.295` x2=`5.223` y2=`11.295`)
  path(fill=`none` stroke=`#FFFFFF` stroke-width=`1.7008` stroke-linecap=`round` stroke-linejoin=`round` stroke-miterlimit=`10` d=`
    M13.999,20h6.095h1.729c2.404,0,4.352-1.949,4.352-4.353c0-2.102-1.488-3.854-3.467-4.263`)
  path(fill=`none` stroke=`#FFFFFF` stroke-width=`1.7008` stroke-linecap=`round` stroke-linejoin=`round` stroke-miterlimit=`10` d=`
    M19.932,22.605c-0.405,1.982-2.16,3.476-4.263,3.476c-2.404,0-4.353-1.948-4.353-4.353V20v-6.094`)
  line(fill=`none` stroke=`#FFFFFF` stroke-width=`1.7008` stroke-linecap=`round` stroke-linejoin=`round` stroke-miterlimit=`10` x1=`11.315` y1=`8.684` x2=`11.315` y2=`0`)
  polyline(fill=`none` stroke=`#FFFFFF` stroke-width=`1.7008` stroke-linecap=`round` stroke-linejoin=`round` stroke-miterlimit=`10` points=`
    20.021,17.389 20.021,2.59 20.021,0.006 `)
  line(fill=`none` stroke=`#FFFFFF` stroke-width=`1.7008` stroke-linecap=`round` stroke-linejoin=`round` stroke-miterlimit=`10` x1=`17.41` y1=`11.295` x2=`5.223` y2=`11.295`)
  path(fill=`none` stroke=`#FFFFFF` stroke-width=`1.7008` stroke-linecap=`round` stroke-linejoin=`round` stroke-miterlimit=`10` d=`
    M13.999,20h6.095h1.729c2.404,0,4.352-1.949,4.352-4.353c0-2.102-1.488-3.854-3.467-4.263`)
  polyline(fill=`none` stroke=`#FFFFFF` stroke-width=`1.7008` stroke-linecap=`round` stroke-linejoin=`round` stroke-miterlimit=`10` points=`
    8.704,20 2.611,20 0.087,20 `)
  polyline(fill=`none` stroke=`#FFFFFF` stroke-width=`1.7008` stroke-linecap=`round` stroke-linejoin=`round` stroke-miterlimit=`10` points=`
    0,15.647 2.611,15.647 2.611,2.518 8.704,2.518 `)
  polyline(fill=`none` stroke=`#FFFFFF` stroke-width=`1.7008` stroke-linecap=`round` stroke-linejoin=`round` stroke-miterlimit=`10` points=`
    15.668,0 15.668,2.59 13.999,2.59 `)




svg(class=`frame travel` id=`top-travel` preserveAspectRatio=`none` xmlns=`http://www.w3.org/2000/svg` xmlns:xlink=`http://www.w3.org/1999/xlink` x=`0px` y=`0px` width=`100%`  viewBox=`0 0 30 30` enable-background=`new 0 0 30 30` xml:space=`preserve`)
  line(fill=`none` stroke=`#FFFFFF` stroke-width=`1.7008` stroke-linecap=`round` stroke-linejoin=`round` stroke-miterlimit=`10` x1=`0` y1=`10` x2=`30` y2=`10`)
  line(fill=`none` stroke=`#FFFFFF` stroke-width=`1.7008` stroke-linecap=`round` stroke-linejoin=`round` stroke-miterlimit=`10` x1=`0` y1=`18.705` x2=`30` y2=`18.705`)
  line(fill=`none` stroke=`#FFFFFF` stroke-width=`1.7008` stroke-linecap=`round` stroke-linejoin=`round` stroke-miterlimit=`10` x1=`30` y1=`14.353` x2=`0` y2=`14.353`)


svg(class=`frame travel` id=`bottom-travel` preserveAspectRatio=`none` xmlns=`http://www.w3.org/2000/svg` xmlns:xlink=`http://www.w3.org/1999/xlink` x=`0px` y=`0px` width=`100%` viewBox=`0 0 30 30` enable-background=`new 0 0 30 30` xml:space=`preserve`)
  line(fill=`none` stroke=`#FFFFFF` stroke-width=`1.7008` stroke-linecap=`round` stroke-linejoin=`round` stroke-miterlimit=`10` x1=`0` y1=`20` x2=`30` y2=`20`)
  line(fill=`none` stroke=`#FFFFFF` stroke-width=`1.7008` stroke-linecap=`round` stroke-linejoin=`round` stroke-miterlimit=`10` x1=`0` y1=`11.295` x2=`30` y2=`11.295`)
  line(fill=`none` stroke=`#FFFFFF` stroke-width=`1.7008` stroke-linecap=`round` stroke-linejoin=`round` stroke-miterlimit=`10` x1=`30` y1=`15.647` x2=`0` y2=`15.647`)

svg(class=`frame travel` id=`left-travel` preserveAspectRatio=`none` xmlns=`http://www.w3.org/2000/svg` xmlns:xlink=`http://www.w3.org/1999/xlink` x=`0px` y=`0px` height=`100%`  viewBox=`0 0 30 30` enable-background=`new 0 0 30 30` xml:space=`preserve`)
  line(fill=`none` stroke=`#FFFFFF` stroke-width=`1.7008` stroke-linecap=`round` stroke-linejoin=`round` stroke-miterlimit=`10` x1=`10` y1=`0` x2=`10` y2=`30`)
  line(fill=`none` stroke=`#FFFFFF` stroke-width=`1.7008` stroke-linecap=`round` stroke-linejoin=`round` stroke-miterlimit=`10` x1=`18.705` y1=`0` x2=`18.705` y2=`30`)
  line(fill=`none` stroke=`#FFFFFF` stroke-width=`1.7008` stroke-linecap=`round` stroke-linejoin=`round` stroke-miterlimit=`10` x1=`14.353` y1=`30` x2=`14.353` y2=`0`)

svg(class=`frame travel` id=`right-travel` preserveAspectRatio=`none` xmlns=`http://www.w3.org/2000/svg` xmlns:xlink=`http://www.w3.org/1999/xlink` x=`0px` y=`0px` height=`100%` viewBox=`0 0 30 30` enable-background=`new 0 0 30 30` xml:space=`preserve`)
  line(fill=`none` stroke=`#FFFFFF` stroke-width=`1.7008` stroke-linecap=`round` stroke-linejoin=`round` stroke-miterlimit=`10` x1=`20` y1=`0` x2=`20` y2=`30`)
  line(fill=`none` stroke=`#FFFFFF` stroke-width=`1.7008` stroke-linecap=`round` stroke-linejoin=`round` stroke-miterlimit=`10` x1=`11.295` y1=`0` x2=`11.295` y2=`30`)
  line(fill=`none` stroke=`#FFFFFF` stroke-width=`1.7008` stroke-linecap=`round` stroke-linejoin=`round` stroke-miterlimit=`10` x1=`15.647` y1=`30` x2=`15.647` y2=`0`)
