doctype html
html
  head
      block head
        title= title
        link(rel='stylesheet' href='/stylesheets/main.css')
        link(href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet")
        <link rel="icon" type="image/png" href="/favicon.png"/>
  body
    div(class='navBar')
      div(class='navbarContent')
        div(class='navObject')
          include logo.pug
        div(class='navObject')
          a(href="/")
            img(src="/images/oraql-home-icon.png" class='navIcon')
        div(class='navObject')
          a(href="/tags")
            img(src="/images/tag-icon.png" class='navIcon')
        div(class='navObject hoverAnimate')
          a(href='/questions/new' class='askbtn formButton') Ask Question
        div(class='navObject')
          form(action="/search/results" method="post" id="searchDiv")
            input(type="text" name="searchText" class="searchBar" placeholder='Search' maxlength='50')
            button(type='submit' class='searchButton')
              img(src="/images/searchicon.png" id="magGlass")
        if locals.authenticated
          div(class='accountAnchortext' id='navUser') #{user.username}
          form(action='/users/log-out', method='post' class='hoverAnimate navButton')
            button(type='submit' class='accountAnchortext navButton' id='logOut') Log Out
        else
          div(class='signandlogin')
            div(class='accountAnchor navObject' id='login')
              a(href='/users/log-in' class='accountAnchortext navButton') Log In
            div(id='navLine')
            div(class='accountAnchor navObject' id='signup')
              a(href='/users/sign-up' class='accountAnchortext navButton') Sign Up
          div(class='accountAnchor navObject')
            a(href='/users/demo-login' class='accountAnchortext navButton' id='demoUser') Demo User
    div(class="navSpacer")
        //- div(class='navObject')
        //-   button()

    block content
  div(class='footerSpacer')
  div(class='footerBar')
    div(class='footerContent')
      div(class='developerList')
        div(class='smallFont') Developed by:
        div(class='devDiv' class='smallFont') Abhishek Bornak
          div(class='devLinks')
            a(href='https://github.com/starsabhi' target="_blank" class='smallFont')
              img(src="/images/githubIcon.svg" height="15px" class='githubIcon')
            a(href='https://www.linkedin.com/in/abhishek-bornak-semasna514865/' target="_blank" class='smallFont')
              img(src="/images/linkedInIcon.png" height="15px" class='linkedInIcon')
        div(class='navLineGrey')
        div(class='devDiv' class='smallFont') Briana Robinson
          div(class='devLinks')
            a(href='https://github.com/BriRob' target="_blank" class='smallFont')
              img(src="/images/githubIcon.svg" height="15px" class='githubIcon')
            a(href='https://www.linkedin.com/in/briana-robinson-083355104/' target="_blank" class='smallFont')
              img(src="/images/linkedInIcon.png" height="15px" class='linkedInIcon')
        div(class='navLineGrey')
        div(class='devDiv' class='smallFont') Jon Halquist
          div(class='devLinks')
            a(href='https://github.com/halquist' target="_blank" class='smallFont')
              img(src="/images/githubIcon.svg" height="15px" class='githubIcon')
            a(href='https://www.linkedin.com/in/jonathan-halquist-24380681/' target="_blank" class='smallFont')
              img(src="/images/linkedInIcon.png" height="15px" class='linkedInIcon')
        div(class='navLineGrey')
        div(class='devDiv' class='smallFont') Xiaowen Nie
          div(class='devLinks')
            a(href='https://github.com/xwnnie' target="_blank" class='smallFont')
              img(src="/images/githubIcon.svg" height="15px" class='githubIcon')
            a(href='https://www.linkedin.com/in/xiaowennie' target="_blank" class='smallFont')
              img(src="/images/linkedInIcon.png" height="15px" class='linkedInIcon')
      div(class='footerIcons')
        div(class='smallFont') Built with:
        img(src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg"  height=15)
        img(src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original.svg"  height=15)
        img(src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/sequelize/sequelize-original.svg"  height=15)
        img(src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg"  height=15)
        img(src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg"  height=15)
        img(src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg"  height=15)
        img(src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vscode/vscode-original.svg"  height=15)
        img(src="https://camo.githubusercontent.com/2eb688a747805c9acd144faf728c8a30f86fc4ca5fb39e6528232f0372151364/68747470733a2f2f63646e2e7261776769742e636f6d2f7075676a732f7075672d6c6f676f2f656563343336636565386664396431373236643738333963626539396431663639343639326330632f5356472f7075672d66696e616c2d6c6f676f2d5f2d636f6c6f75722d3132382e737667"  height=25)
        img(src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-plain-wordmark.svg" height=55)
        img(src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/express/express-original-wordmark.svg" height=55 id='expressIcon')
        div
          a(href='https://github.com/starsabhi/Oraql' class='smallFont') Site Github Page
