extends layout.pug
include utils.pug
block content
  +validationErrorSummary(errors)
  form(action='/users/log-in' method='post')
    input(type='hidden' name='_csrf' value=csrfToken)
    +field('Email', 'email', email)
    +field('Password', 'password', password, 'password')
    div
      button(type='submit') Log In
  div
    p: a(href='/users/sign-up') Don't have an account?
