extends layout.pug
include utils.pug
block content
  div(class='form-div')
    img(src="/images/oraql-logo.png" class='bigOraqlLogo')
    h2(class='formTitle') Log In
    hr(class='divider')
    +validationErrorSummary(errors)
    form(action='/users/log-in' method='post' class="loginForm")
      input(type='hidden' name='_csrf' value=csrfToken)
      +field('Email', 'email', email)
      +field('Password', 'password', password, 'password')
      div(class="formLogin")
        button(type='submit' class='formButton' id="submitLogin") Log In
      div(class='accountAnchor')
        p: a(href='/users/sign-up' class='accountAnchortext') Don't have an account?
