extends layout.pug
include utils.pug
block content
  div(class='form-div')
    img(src="/images/oraql-logo.png" class='bigOraqlLogo')
    h2(class='formTitle') Ask a Question!
    hr(class='divider')
    +validationErrorSummary(errors)
    form(action='/questions/new' method='post')
      input(type='hidden' name='_csrf' value=csrfToken)
      label(for="content") I want to know...
      textarea(name="content" cols="30" rows="10" value=data.content required)
      label(for="tag") Tag
      select(name="tag")
        option(disabled selected) Select a tag
        each tag in tags
            option(value=tag.id selected=(tag.id === data.tagId )) #{tag.tagName}

      div
        button(type='submit' class='formButton') Log In
      div(class='accountAnchor')
        p: a(href='/users/sign-up' class='accountAnchortext') Don't have an account?
