extends layout.pug
include utils.pug
block content
  div(class='form-div')
    img(src="/images/oraql-logo.png" class='bigOraqlLogo')
    h2(class='formTitle') Ask a Question!
    hr(class='divider')
    +validationErrorSummary(errors)
    form(action='/questions/new' method='post')
      input(type='hidden' name='_csrf' value=csrfToken)
      label(for="content") I want to know...
      textarea(name="content" cols="30" rows="10" maxlength='140' ) #{data.content}
      div#less (Less than 140 characters)
      label(for="tagId") Tag
      select(name="tagId")
        option(disabled selected) Select a tag
        each tag in tags
            option(value=tag.id selected=(tag.id == data.tagId )) #{tag.tagName}
      div
        a(href='/' class='formButton cancelButton') Cancel
      div
        button(type='submit' class='formButton') Submit
