body {
  /* padding: 400px; */
  font: 14px "Varela Round", Helvetica, Arial, sans-serif;
  color: white;
  background-color: rgb(37, 33, 43);
  background-image: url("/images/oraql-login-background.png");
  background-size: auto;
  background-repeat: repeat;
}

a {
  color: #e08ff0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
ol,
li,
ul,
div,
span,
body,
header,
nav {
  font-size: 1rem;
  /* color: inherit; */
  /* background-color: transparent; */
  margin: 0;
  padding: 0;
  outline: 0;
  font-weight: normal;
}

.navSpacer {
  height: 50px;
}

h1 {
  font-size: 2rem;
}

.bigOraqlLogo {
  /* height: 50px; */
  width: 110px;
  margin: 20px;
  margin-top: 30px;
}

.form-div {
  background-color: rgb(73, 62, 84);
  width: 450px;
  /* margin-left: auto;
margin-right: auto;
margin-top: 50px; */
  margin: 50px auto 0;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(25, 20, 28);
  box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
  filter: drop-shadow(0 0 2px rgba(255, 255, 255, .2))
}

label {
  display: block;
  margin-top: 20px;
  margin-bottom: 5px;
}

input {
  font: 20px "Varela Round", Helvetica, Arial, sans-serif;
  width: 100%;
  border-radius: 5px;
  border: none;
  padding: 4px;
}

textarea {
  font: 20px "Varela Round", Helvetica, Arial, sans-serif;
  border-radius: 5px;
  border: none;
  padding: 4px;
  resize: none;
}

select {
  font: 20px "Varela Round", Helvetica, Arial, sans-serif;
  width: 50%;
  border-radius: 5px;
  border: none;
  padding: 2px;
}

.formButton {
  font: 14px "Varela Round", Helvetica, Arial, sans-serif;
  background-color: rgb(255, 219, 128);
  color: rgb(37, 33, 43);
  padding: 5px;
  margin: 20px;
  margin-left: 230px;
  border-radius: 50px;
  border: none;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14pt;
  transition: 0.3s;
}

.accountAnchor {
  font: 14px "Varela Round", Helvetica, Arial, sans-serif;
  text-align: center;
  /* margin-bottom: 25px; */
  transition: 0.3s;
  /* margin-left: none; */
}

.accountAnchortext {
  text-decoration: none;
  font-weight: 550;
  white-space: nowrap;
  /* margin-left: none; */
}

#login {
  margin-right: 0px;
  /* border-right: white 2px solid; */
  padding-right: 3px;
}

#navLine {
  border: white 1px solid;
  height: 24px;
}

#signup {
  margin-left: 0px;
  padding-left: 3px;
}

#signup a, #login a, #navUser {
  color: #e08ff0;
}

#navUser {
  font-size: 14pt;
  margin-left: 10px;
  margin-right: 16px;
}

#logOut {
  background-color: white;
  color: rgb(25, 20, 28);
  border-radius: 50px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  cursor: pointer;
}

#demoUser {
  background-color: white;
  color: rgb(25, 20, 28);
  border-radius: 50px;
  padding-left: 15px;
  padding-right: 15px;
}

.navButton {
  font: 14px "Varela Round", Helvetica, Arial, sans-serif;
  color: white;
  padding: 5px;
  /* padding-left: 15px;
  padding-right: 15px; */
  font-size: 14pt;
  transition: 0.3s;
}

.formTitle {
  font-size: 20pt;
}

.askbtn {
  margin: 0;
  white-space: nowrap;
  background-color: rgb(255, 219, 128);
  text-decoration: none;
}

.cancelButton {
  white-space: nowrap;
  background-color: white;
  text-decoration: none;
}

.formError {
  color: rgb(255, 170, 113);
  margin-top: 16px;
}

.errorList {
  list-style: none;
  text-align: center;
  margin: 4px;
}

.divider {
  margin-top: 10px;
  width: 78%;
  border: solid 1px rgb(51, 37, 58);
}

.smallOraqlLogo {
  width: 80px;
}

.navBar {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: rgb(73, 62, 84);
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(25, 20, 28);
  box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
  filter: drop-shadow(0 0 2px rgba(255, 255, 255, .2));
  z-index: 1;
}

.navbarContent {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}

.navIcon {
  width: 35px;
  transition: .3s;
}

/* .signandlogin > a {
  padding: 10px;
} */

.signandlogin {
  display: flex;
  align-items: center;
}

.navObject {
  margin-left: 10px;
  margin-right: 10px;
  transition: 0.3s;
  /* padding-left: 2%;
  padding-right: 2%; */
}


#less {
  font-size: 8pt;
}

.pText {
  margin-top: 50px;
  font-size: 1.5em;
  color: white;
  text-align: center;
}

.mainContentDiv {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

.questionDiv,
.ansDiv {
  background-color: rgb(73, 62, 84);
  min-width: 400px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  border-radius: 10px;
  /* padding: 20px; */
  border: 2px solid rgb(25, 20, 28);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
  padding: 20px;
  border: 1px solid rgb(25, 20, 28);
  box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
  filter: drop-shadow(0 0 2px rgba(255, 255, 255, .2))
}

.userTag {
  margin: 12px;
  color:#e08ff0;
}

.askedBy {
  color: rgb(37, 33, 43);
  font-weight: bold;
}

.questionText {
  text-decoration: none;
  text-align: center;
  margin: 15px;
  color: white;
  font-size: 1.5em;
  transition: 0.3s;
  overflow-wrap: break-word;
  width: 100%;

}

.questionTextStatic {
  text-decoration: none;
  text-align: center;
  margin: 15px;
  color: white;
  font-size: 1.5em;
  /* overflow-wrap: break-word; */
  overflow-wrap: break-word;
  width: 100%;

}

.questionMetaDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15px;
}

.editDeleteAnswer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 100%; */
}

.editDelete {
  display: flex;
  width: 170px;
  justify-content: space-around;
}

#editBtn {
  background-color: white;
}

#deleteBtn {
  background-color: rgb(255, 180, 172);
}

#answerBtn {
  /* margin-left: auto;
  margin-right: auto; */
  /* float: right; */
}

.tag {
  color: rgb(25, 20, 28);
  font-size: 1em;
  font-weight: bold;
  border-radius: 30px;
  padding: 2px 10px;
  text-transform: uppercase;
}

.hidden {
  display: none;
}

#alien {
  background-color: rgb(0, 255, 98);
}

#angel {
  background-color: rgb(0, 242, 255);
}

#demon {
  background-color: rgb(163, 0, 0);
}

#divination {
  background-color: rgb(209, 43, 255);
}

#heaven {
  background-color: rgb(255, 247, 104);
}

#karma {
  background-color: rgb(255, 171, 245);
}

#magic {
  background-color: rgb(255, 187, 0);
}

#prophecy {
  background-color: rgb(0, 102, 255);
}

#reincarnation {
  background-color: rgb(255, 255, 255);
}

#religion {
  background-color: rgb(255, 111, 0);
}

#spirit {
  background-color: rgb(119, 131, 136);
}

#underworld {
  background-color: rgb(255, 60, 60);
}

#witchcraft {
  background-color: rgb(129, 0, 221);
}

/* continue tag colors here */

.qContent {
  width: 100%;
  overflow-wrap: break-word;
}

.ansDiv {
  background-color: rgb(37, 33, 43);
  margin-top: 20px;
  min-width: 600px;
}

.searchBar {
  min-width: 200px;
}

.noSearchText {
  text-align: center;
  color: #e08ff0;
}

#searchDiv {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 5px;
}

.searchButton {
  /* background-color: none; */
  background-color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: .3s;
}

#magGlass {
  height: 20px;
  margin-top: 3px;

}

.questionInnerContent {
  width: 100%;
}

.userDate {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 3px 0px;

}

.answerContent {
  width: 100%;
  text-align: left;
}


.userDate > div {
 color: #e08ff0;
 font-size: 10pt;
}


#ansdiv {
  width: 100%;
  border:rgb(73, 62, 84) solid 1px;
  background-color: rgb(73, 62, 84);
}

.editAnsBtn, .deleteAnsBtn {
border: none;
background-color: transparent;
color: white;
transition: .3s;
font-size: 12pt;
}


.editdeleteAns {
display: flex;
justify-content: center;
gap: 30%
}


.formButton:hover,
.accountAnchor:hover,
.questionText:hover,
.hoverAnimate:hover,
.searchButton:hover,
.navIcon:hover,
.editAnsBtn:hover,
.deleteAnsBtn:hover,
.formButtonNoMargin:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.formButton:active,
.accountAnchor:active,
.questionText:active,
.hoverAnimate:active,
.searchButton:active,
.navIcon:active,
.editAnsBtn:active,
.deleteAnsBtn:active,
.formButtonNoMargin:active {
  transform: scale(0.9);
}

.formBtnDiv {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;

}


.formButtonNoMargin {
  font: 14px "Varela Round", Helvetica, Arial, sans-serif;
  background-color: rgb(255, 219, 128);
  color: rgb(37, 33, 43);
  border-radius: 50px;
  border: none;
  padding: 5px 15px;
  font-size: 14pt;
  transition: 0.3s;
}

#submitAnsBtn {
  margin: none;
  margin-left: none;
}

#cancelAnsBtn {
  margin: none;
  margin-left: none;
  background-color: white;

}

#tagId {
  margin: 10px 0px;
}

.logoSvg {
  animation: logoBlur 25s ease-in-out alternate infinite;

}

g > path {
  animation: logoColor 25s ease-in-out alternate infinite;
}

@keyframes logoBlur {
 0% {
    filter: drop-shadow(0px 0px 0px rgba(73, 62, 84, 0));
  }
  49% {
    filter: drop-shadow(0px 0px 0px rgba(73, 62, 84, 0));
  }
  50% {
    filter: drop-shadow(0px 0px 0px rgba(255, 255, 255, 1));
  }
  100% {
    filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 1));
  }
 }

 @keyframes logoColor {
  0% {
     fill: white;
   }
   50% {
     fill: white;
   }
   100% {
     fill: rgba(73, 62, 84);
   }
  }
