html, body {
  min-height: 100%;
}

body {
  font: 14px "Varela Round", Helvetica, Arial, sans-serif;
  color: white;
  background-color: rgb(37, 33, 43);
  background-image: url("/images/oraql-login-background.png");
  background-size: auto;
  background-repeat: repeat;
  position: relative;
  min-height: 100vh;
  width: 100%;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}

a {
  color: #e08ff0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
ol,
li,
ul,
div,
span,
body,
header,
nav {
  font-size: 1rem;
  /* color: inherit; */
  /* background-color: transparent; */
  margin: 0;
  padding: 0;
  outline: 0;
  font-weight: normal;
}

.navSpacer {
  height: 30px;
  width: 100%
}

.extraNavSpacer {
  height: 60px;
  width: 100%
}

.extraNavSpacerSmall {
  height: 8px;
  width: 100%
}

h1 {
  font-size: 2rem;
}

.bigOraqlLogo {
  /* height: 50px; */
  width: 110px;
  margin: 20px;
  margin-top: 30px;
}

.form-div {
  background-color: rgb(73, 62, 84);
  width: 80%;
  max-width: 450px;
  min-width: min-content;
  /* margin-left: auto;
margin-right: auto;
margin-top: 50px; */
  margin: 60px auto 0;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(25, 20, 28);
  box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
  filter: drop-shadow(0 0 2px rgba(255, 255, 255, .2))
}

.form-div-wide {
  background-color: rgb(73, 62, 84);
  max-width: 700px;
  /* min-width: 60%; */
  margin-left: auto;
  margin-right: auto;
/* margin-top: 50px;  */
  /* margin: 50px auto 0; */
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid rgb(25, 20, 28);
  box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
  filter: drop-shadow(0 0 2px rgba(255, 255, 255, .2))
}

label {
  display: block;
  margin-top: 20px;
  margin-bottom: 5px;
}

input {
  font: 20px "Varela Round", Helvetica, Arial, sans-serif;
  width: 100%;
  border-radius: 5px;
  border: none;
  padding: 4px;
}

textarea {
  font: 20px "Varela Round", Helvetica, Arial, sans-serif;
  border-radius: 5px;
  border: none;
  padding: 4px;
  resize: none;
}

.ansEditTextArea {
  font-size: 12e;

}

.editLabel {
  margin-top: -10px;
}

select {
  font: 20px "Varela Round", Helvetica, Arial, sans-serif;
  width: 50%;
  border-radius: 5px;
  border: none;
  padding: 2px;
}

.formButton {
  font: 14px "Varela Round", Helvetica, Arial, sans-serif;
  background-color: rgb(255, 219, 128);
  color: rgb(37, 33, 43);
  padding: 5px;
  margin: 20px;
  margin-left: 230px;
  border-radius: 50px;
  border: none;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14pt;
  transition: 0.3s;
}

.accountAnchor {
  font: 14px "Varela Round", Helvetica, Arial, sans-serif;
  text-align: center;
  /* margin-bottom: 25px; */
  transition: 0.3s;
  /* margin-left: none; */
}

.accountAnchortext {
  text-decoration: none;
  font-weight: 550;
  white-space: nowrap;
  /* margin-left: none; */
}

#login {
  margin-right: 0px;
  /* border-right: white 2px solid; */
  padding-right: 3px;
}

#navLine {
  border: white 1px solid;
  background-color: white;
  height: 24px;
}

.navLineGrey {
  border: rgb(107, 107, 107) 1px solid;
  background-color: rgb(107, 107, 107);
  height: 24px;
}

#signup {
  margin-left: 0px;
  padding-left: 3px;
}

#signup a, #login a, #navUser {
  color: #e08ff0;
}

#navUser {
  font-size: 14pt;
  margin-left: 10px;
  margin-right: 16px;
}

#logOut {
  background-color: white;
  color: rgb(25, 20, 28);
  border-radius: 50px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  cursor: pointer;
}

#demoUser {
  background-color: white;
  color: rgb(25, 20, 28);
  border-radius: 50px;
  padding-left: 15px;
  padding-right: 15px;
}

.navButton {
  font: 14px "Varela Round", Helvetica, Arial, sans-serif;
  color: white;
  padding: 5px;
  /* padding-left: 15px;
  padding-right: 15px; */
  font-size: 14pt;
  transition: 0.3s;
}

.formTitle {
  font-size: 20pt;
  text-align: center;
}

.askbtn {
  margin: 0;
  white-space: nowrap;
  background-color: rgb(255, 219, 128);
  text-decoration: none;
}

.cancelButton {
  white-space: nowrap;
  background-color: white;
  text-decoration: none;
}

.formError {
  color: rgb(255, 170, 113);
  margin-top: 16px;
}

.errorList {
  list-style: none;
  text-align: center;
  margin: 4px;
}

.divider {
  margin-top: 10px;
  width: 78%;
  border: solid 1px rgb(73, 62, 84);
  background-color: rgb(73, 62, 84);
}

.smallOraqlLogo {
  width: 80px;
}

.navBar {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: rgb(73, 62, 84);
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(25, 20, 28);
  box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
  filter: drop-shadow(0 0 2px rgba(255, 255, 255, .2));
  z-index: 1;
}

/* .footerBar {
  /* position: absolute;
  bottom: 0px;
  left: 0;
  right: 0; */
  /* max-width: 100%;
  height: fit-content;
  background-color: rgb(25, 20, 28);
  padding-top: 10px;
  border-top: 1px solid rgb(25, 20, 28);
  box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
  filter: drop-shadow(0 0 2px rgba(255, 255, 255, .2));
  z-index: 1; */
  /* min-width: 700px; */
/* } */

.footerContent {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.footerSpacer {
  height: 110px;
  width: 100%
}

.footerIcons {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  /* margin-top: 10px; */
  flex-wrap: wrap;
  padding-top: 2px;
}

.developerList {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  /* margin-bottom: -10px; */
  flex-wrap: wrap;
  padding-bottom: 2px;

}

.devDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.devLinks {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.smallFont {
  font-size: 8pt;
  color: rgb(107, 107, 107);
}


#expressIcon {
  filter: invert();
  margin-top: 6px;
}

.githubIcon {
  filter: invert();
}

.navbarContent {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}

.navIcon {
  width: 35px;
  transition: .3s;
}

/* .signandlogin > a {
  padding: 10px;
} */

.signandlogin {
  display: flex;
  align-items: center;
}

.navObject {
  margin-left: 10px;
  margin-right: 10px;
  transition: 0.3s;
  /* padding-left: 2%;
  padding-right: 2%; */
}


#less {
  font-size: 8pt;
}

.pText {
  margin-bottom: 30px;
  font-size: 1.5em;
  color: white;
  text-align: center;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  animation: fadein 3s ease-in;
}

.mainContentDiv {
  max-width: 700px;
  margin: 40px auto;
}

.questionDiv {
  background-color: rgb(73, 62, 84);
  /* min-width: 400px; */
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 16px;
  border-radius: 10px;
  /* padding: 20px; */
  border: 2px solid rgb(25, 20, 28);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
  padding: 20px;
  border: 1px solid rgb(25, 20, 28);
  box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
  filter: drop-shadow(0 0 2px rgba(255, 255, 255, .2))
}

.questionDivMainPage {
  background-color: rgb(73, 62, 84);
  /* min-width: 400px; */
  /* width: 700px; */
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  border-radius: 10px;
  /* padding: 20px; */
  border: 2px solid rgb(25, 20, 28);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
  padding: 20px;
  border: 1px solid rgb(25, 20, 28);
  box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
  filter: drop-shadow(0 0 2px rgba(255, 255, 255, .2));
}

.questionDivTagPage {
  /* background-color: rgb(73, 62, 84); */
  /* min-width: 400px; */
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  /* border-radius: 10px; */
  /* border: 2px solid rgb(25, 20, 28); */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.3); */
  /* border: 1px solid rgb(25, 20, 28); */
  /* box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.3); */
  /* filter: drop-shadow(0 0 2px rgba(255, 255, 255, .2)); */
  padding: 10px 0px;
  flex-wrap: wrap;
}

.questionDivTags {
  text-align: center;
  width: 95%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.ansDiv {
  background-color: rgb(37, 33, 43);
  /* min-width: 400px; */
  /* width: 650px; */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  border-radius: 10px;
  /* padding: 20px; */
  border: 2px solid rgb(25, 20, 28);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
  padding: 20px;
  border: 1px solid rgb(25, 20, 28);
  box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
  filter: drop-shadow(0 0 2px rgba(255, 255, 255, .2));
  overflow-wrap: break-word;

}

.userTag {
  margin-left: 7px;
  /* color:#e08ff0; */
}

.searchTag {
  margin: 3px 3px;
}

.askedBy {
  color: rgb(37, 33, 43);
  font-weight: bold;
  /* vertical-align: middle; */
  display: flex;
  align-items: center;

}

.questionText {
  text-decoration: none;
  text-align: center;
  margin: 15px;
  color: white;
  font-size: 1.5em;
  transition: 0.3s;
  overflow-wrap: break-word;
  width: 100%;

}

.questionTextStatic {
  text-decoration: none;
  text-align: center;
  margin: 15px;
  color: white;
  font-size: 1.5em;
  overflow-wrap: break-word;
  max-width: 100%;
  width: 620px;
  display: inline;
}

.questionTextStaticMain {
  text-decoration: none;
  text-align: center;
  margin: 15px;
  color: white;
  font-size: 1.5em;
  overflow-wrap: break-word;
  /* width: 620px; */
}

.questionMetaDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

.editDeleteAnswer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 0px 0 0 5px;
  /* width: 100%; */
  flex-wrap: wrap;
}


.editDelete {
  display: flex;
  width: 170px;
  justify-content: space-around;
  margin: 5px 0;
}

#editBtn {
  background-color: white;
}

#deleteBtn {
  background-color: rgb(255, 180, 172);
}

#answerBtn {
  /* margin-left: auto;
  margin-right: auto; */
  /* float: right; */
  /* margin: 2px 5px 0; */
}



.hidden {
  display: none;
}

#alien {
  /* background-color: rgb(0, 255, 98); */
  background-image: linear-gradient(to right, rgb(0, 255, 60) , rgb(0, 255, 251));
}

#angel {
  /* background-color: rgb(0, 242, 255); */
  background-image: linear-gradient(to right, rgb(0, 255, 251), rgb(138, 153, 255));
}

#demon {
  /* background-color: rgb(163, 0, 0); */
  background-image: linear-gradient(to right, rgb(155, 0, 0) , rgb(255, 123, 0));
}

#divination {
  /* background-color: rgb(209, 43, 255); */
  background-image: linear-gradient(to right, rgb(209, 43, 255), rgb(144, 113, 255));
}

#heaven {
  /* background-color: rgb(255, 247, 104); */
  background-image: linear-gradient(to right, rgb(255, 98, 0) , rgb(255, 220, 80));
}

#karma {
  /* background-color: rgb(255, 171, 245); */
  background-image: linear-gradient(to right, rgb(255, 171, 245) , rgb(255, 105, 165));
}

#magic {
  /* background-color: rgb(255, 187, 0); */
  background-image: linear-gradient(to right, rgb(208, 153, 0) , rgb(255, 244, 128));
}

#prophecy {
  /* background-color: rgb(0, 102, 255); */
  background-image: linear-gradient(to right, rgb(24, 116, 255) , rgb(128, 192, 255));
}

#reincarnation {
  /* background-color: rgb(255, 255, 255); */
  background-image: linear-gradient(to right, rgb(255, 255, 255) ,rgb(162, 162, 162));
}

#religion {
  /* background-color: rgb(255, 111, 0); */
  background-image: linear-gradient(to right, rgb(255, 111, 0) ,rgb(255, 255, 255));
}

#spirit {
  /* background-color: rgb(119, 131, 136); */
  background-image: linear-gradient(to right, rgb(116, 159, 177) ,rgb(225, 225, 225));
}

#underworld {
  /* background-color: rgb(255, 60, 60); */
  background-image: linear-gradient(to right, rgb(255, 149, 0) ,rgb(255, 60, 60));
}

#witchcraft {
  /* background-color: rgb(129, 0, 221); */
  background-image: linear-gradient(to right, rgb(129, 0, 221) ,rgb(191, 145, 255));
}

/* continue tag colors here */

.qContent {
  width: 100%;
  overflow-wrap: break-word;
}

#ansdiv {
  background-color: rgb(37, 33, 43);
  margin-top: 20px;
  /* min-width: 600px; */
  width: 95%;
}

.searchBar {
  min-width: 200px;
}

.searchBar:focus {
  outline: none;
}

.noSearchText {
  text-align: center;
  color: #e08ff0;
}

#searchDiv {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 5px;
}

.searchButton {
  /* background-color: none; */
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: .3s;
}

#magGlass {
  height: 20px;
  margin-top: 3px;

}

.questionInnerContent {
  max-width: 100%;
}

.ansLine {
  max-width: 100%;
  overflow-wrap: break-word;
}

.userDate {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 3px 0px;
  flex-wrap: wrap;
}

.userAns {
  padding: 3px;
}

.answerContent {
  width: 100%;
  text-align: left;
}


.userDate > div {
 color: #e08ff0;
 font-size: 10pt;
}


.answerDiv {
  max-width: fit-content;
  min-width: min-content;
  border:rgb(73, 62, 84) solid 1px;
  background-color: rgb(73, 62, 84);
}

.editAnsBtn, .deleteAnsBtn {
  border: none;
  background-color: transparent;
  color: white;
  transition: .3s;
  font-size: 12pt;
}


.editdeleteAns {
  display: flex;
  justify-content: center;
  gap: 30%
}

.userTagDiv {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: inherit;
  flex-wrap: wrap;
}

.formButton:hover,
.accountAnchor:hover,
.questionText:hover,
.hoverAnimate:hover,
.searchButton:hover,
.navIcon:hover,
.editAnsBtn:hover,
.deleteAnsBtn:hover,
.formButtonNoMargin:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.formButton:active,
.accountAnchor:active,
.questionText:active,
.hoverAnimate:active,
.searchButton:active,
.navIcon:active,
.editAnsBtn:active,
.deleteAnsBtn:active,
.formButtonNoMargin:active {
  transform: scale(0.9);
}

.formBtnDiv {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  flex-wrap: wrap;

}

.deleteQBtnDiv {
  width: 300px;
}

.deleteQContent {
  margin-bottom: 14px;
}


.formButtonNoMargin {
  font: 14px "Varela Round", Helvetica, Arial, sans-serif;
  background-color: rgb(255, 219, 128);
  color: rgb(37, 33, 43);
  border-radius: 50px;
  border: none;
  padding: 5px 15px;
  font-size: 14pt;
  transition: 0.3s;
  margin: 5px 0;
}

.edit-cancel {
  background-color: white;
}

#submitAnsBtn {
  margin: none;
  margin-left: none;
}

#cancelAnsBtn {
  margin: none;
  margin-left: none;
  background-color: white;

}

#tagId {
  margin: 10px 0px;
}

.tag {
  color: rgb(25, 20, 28);
  font-size: 1em;
  font-weight: bold;
  border-radius: 30px;
  padding: 2px 10px;
  text-transform: uppercase;
  transition: .3s;
}

.tagNoClick {
  color: rgb(25, 20, 28);
  font-size: 1em;
  font-weight: bold;
  border-radius: 30px;
  padding: 2px 10px;
  text-transform: uppercase;
  transition: .3s;
}

.tag > a {
  color: rgb(25, 20, 28);
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s
}


.logoSvg {
  animation: logoBlur 12s ease-in-out alternate infinite;
}

g > path {
  animation: logoColor 12s ease-in-out alternate infinite;
}

@keyframes logoBlur {
  0% {
    filter: drop-shadow(0px 0px 0px rgba(73, 62, 84, 0));
  }
  49% {
    filter: drop-shadow(0px 0px 0px rgba(73, 62, 84, 0));
  }
  50% {
    filter: drop-shadow(0px 0px 0px rgba(255, 255, 255, 0));
  }
  65% {
    filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 1));
  }
  100% {
    filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 1));
  }
}

@keyframes logoColor {
  0% {
     fill: white;
   }
  50% {
     fill: white;
  }
  65% {
    fill: rgba(73, 62, 84);
  }
  100% {
     fill: rgba(73, 62, 84);
  }
}

@keyframes fadein {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}


.qCreatedDate {
    padding-left: 10px;

}

.hoverAnimate {
  transition: .3s;
}

.formButton:hover,
.accountAnchor:hover,
.questionText:hover,
.hoverAnimate:hover,
.searchButton:hover,
.navIcon:hover,
.editAnsBtn:hover,
.deleteAnsBtn:hover,
.formButtonNoMargin:hover,
.tag:hover
 {
  transform: scale(1.1);
  cursor: pointer;
}

.formButton:active,
.accountAnchor:active,
.questionText:active,
.hoverAnimate:active,
.searchButton:active,
.navIcon:active,
.editAnsBtn:active,
.deleteAnsBtn:active,
.formButtonNoMargin:active,
.tag:active
 {
  transform: scale(0.9);
}

.frame-container {
  display: grid;
  grid-template-columns: 30px auto 30px;
  grid-template-rows: 30px auto 30px;
  height: auto;
  width: auto;
 min-height: 200px;
 min-width: 200px;
 border-radius: 10px;
 margin: 5px;
 padding: 10px;
 z-index: -2;
}

.frame >
path,
line,
polyline {
  stroke: rgb(255, 255, 255);
  overflow: hidden;
}

/* animations for corners */
.corner > path,
.corner > line,
.corner > polyline
 {

animation: strokeanim 3s ease-out forwards;
}

/* animations for sides */
.travel > path,
.travel > line,
.travel > polyline
 {
animation: strokeanim 3s ease-out forwards;
}

#photo-div {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / 4;
  grid-row: 1 / 4;
  z-index: -1;
  margin: 0px;
  width: 100%;
  height: auto;
}

#top-left-corner {
  grid-area: a;
  grid-column: 1;
  grid-row: 1;
}

#top-travel {
  grid-area: b;
  width: 100%;
  height: 100%;
  grid-column: 2;
  grid-row: 1;

}

#top-right-corner {
  grid-area: c;
  grid-column: 3;
  grid-row: 1;
}

#left-travel {
  grid-area: d;
  width: 100%;
  height: 100%;
  grid-column: 1;
  grid-row: 2;
}

#right-travel {
  grid-area: e;
  width: 100%;
  height: 100%;
  grid-column: 3;
  grid-row: 2;
}

#bottom-left-corner {
  grid-area: f;
  grid-column: 1;
  grid-row: 3;
}

#bottom-travel {
  grid-area: g;
  width: 100%;
  height: 100%;
  grid-column: 2;
  grid-row: 3;
}

#bottom-right-corner {
  grid-area: h;
  grid-column: 3;
  grid-row: 3;
}


@keyframes strokeanim {

  0% {
    stroke-dashoffset: -50;
  stroke-dasharray: 200, 50;
    stroke-width: 2;
  }
  100% {
    stroke-dashoffset: 0;
  stroke-dasharray: 200, 50;
    stroke-width: 2;
  }

 }

.askedUser {
  display: flex;
  flex-wrap: wrap;
  margin: 7px 0;
  justify-content: center;
}

#tagSpans {
  padding-bottom: 10px;
}

footer {
  position: absolute;
  bottom: 0px;
  margin-top: 20px;
  width: 100%;
  background-color: rgb(25, 20, 28);
  padding-top: 10px;
  border-top: 1px solid rgb(25, 20, 28);
  box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
  filter: drop-shadow(0 0 2px rgba(255, 255, 255, .2));
}

/* .footerSpacer {
  height: 110px;
  width: 100%
} */

mark {
  background-color: rgb(165, 234, 252);
  border-radius: 3px;
}


.askQTextarea, .askQForm {
  width: 100%;
}

.loginForm {
  width: 90%
}

.formLogin {
  display: flex;
  justify-content: flex-end;
  margin: 15px 0;
}

#submitLogin, #submitSign {
  /* white-space: nowrap; */
  margin: 0;
}

.form-group {
  width: 100%;
}

#noAccount, #haveAcc {
  white-space: pre-line;

}
